<br>
<a routerLink='/ex'>to ex</a>
<a routerLink='/post'>Post service</a>
<div class="container">
  <div class="row">
    <div *ngFor="let list of sublists; let listId = index" class="col-sm">
        <div class="card" style="width: 18rem;">
          <img src="../../../assets/img/cat1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">cat1</h5>
            <p class="card-text">sample sample sample sample samlpe sample </p>
            <a routerLink="detail/{{listId}}" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</div>
