{{id}}
<!-- <div class="container">
  <div class="row">
    <div class="card">
      <h2 class="text-center">{{ oogiri.title }}</h2>

        <img src="{{ oogiri.image_url }}" class="card-img-top" alt="大喜利のテーマとなる写真が挿入されます。">
        <div class="card-body">
          <h3 class="text-center">{{ oogiri.oogiri }}</h3>
          <p class="card-text"><small class="text-muted">{{ oogiri.updated_at | date }}</small></p>
          <a routerLink="/oogiri/{{oogiriId}}" class='product-list-a'>詳細</a>
        </div>
    </div>
  </div>
</div> -->
