
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <h2>大喜利グランプリ</h2>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="oogiri/new" class="nav-link px-2 text-white">投稿する</a></li>
        <li><a routerLink="oogiri/new" class="nav-link px-2 text-white">TBD..</a></li>
      </ul>


      <div class="text-end">
        <button type="button"
        *ngIf="(loggedIn | async)"
        class="btn btn-outline-primary"
        (click)="onLogoutClick()">
        ログアウト
        </button>
        <button type="button"
        *ngIf="!(loggedIn | async)"
        class="btn btn-outline-primary me-2"
        (click)="onLoginClick()">
        ログイン
        </button>
        <button type="button"
        *ngIf="!(loggedIn | async)"
        class="btn btn-outline-primary"
        (click)="onSignupClick()">
        新規登録
        </button>
      </div>
    </div>
  </div>
</header>




