<div class="section">
  <div class="container align-items-center">
		<h1 class="text-center">投稿する</h1>

			<div>
				<form [formGroup]="postForm" (ngSubmit)="onSubmit()">

					<div class="form-group">
						<label for="title">題名</label>
						<input  formControlName="title"
                    type="text"
										class="form-control"
										id="title"
										placeholder="お題.."
										required
										name="title"
						>
            <div *ngIf="f.title.touched && f.title.invalid" class="alert alert-danger">
              <div *ngIf="uf.title.errors.required">題名は必須項目です。</div>
            </div>
          </div>

          <div >
            <label for="image">ファイル</label>
            <input  type="file"
                    id="image"
                    name="image"
                    accept="image/*"
                    (change)="onImageChange($event)"
            >
            <div *ngIf="f.image.touched && f.image.invalid" class="alert alert-danger">
              <div *ngIf="uf.image.errors.required">画像は必須です。</div>
            </div>
          </div>

          <div class="preview" *ngIf="imgFile">
            <img  [src]="imgFile"
                  class="img-fluid"
                  style="width:500px; height:350px">
          </div>


					<div class="form-group">
						<label for="oogiri">回答</label>
						<input  formControlName="oogiri"
                    rows='4'
                    type="text"
										class="form-control"
										id="oogiri"
										placeholder="回答.."
										required
										name="oogiri"
						>
            <div *ngIf="f.oogiri.touched && f.oogiri.invalid" class="alert alert-danger">
              <div *ngIf="uf.oogiri.errors.required">回答は必須です。</div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">コメント</label>
            <textarea formControlName="description"
                      class="form-control"
                      placeholder="記入してください..."
                      id="description"
                      rows='4'
                      type="text"
            >
            </textarea>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">投稿する</button>
          </div>

				</form>
			</div>
  </div>
</div>
