<div class="section">
  <div class="container align-items-center">
		<h1 class="text-center">投稿する</h1>

			<div>
				<form [formGroup]="new_post" (ngSubmit)="onSubmit()">

					<div class="form-group">
						<label for="topic">題名</label>
						<input  formControlName="topic"
                    type="text"
										class="form-control"
										id="topic"
										placeholder="お題.."
										required
										name="topic"
						>
            <div *ngIf="uf.topic.touched && uf.topic.invalid" class="alert alert-danger">
              <div *ngIf="uf.topic.errors.required">題名は必須項目です。</div>
            </div>
          </div>

          <div >
            <label for="file">ファイル</label>
            <input  type="file"
                    id="file"
                    accept="image/*"
                    formControlName="file"
                    (change)="onImageChange($event)"
            >
            <div *ngIf="uf.file.touched && uf.file.invalid" class="alert alert-danger">
              <div *ngIf="uf.file.errors.required">画像は必須です。</div>
            </div>
          </div>

          <div class="preview" *ngIf="imgFile">
            <img  [src]="imgFile"
                  class="img-fluid"
                  style="width:400px; height:250px">
          </div>


					<div class="form-group">
						<label for="oogiri">回答</label>
						<input  formControlName="oogiri"
                    rows='4'
                    type="text"
										class="form-control"
										id="oogiri"
										placeholder="回答.."
										required
										name="oogiri"
						>
            <div *ngIf="uf.oogiri.touched && uf.oogiri.invalid" class="alert alert-danger">
              <div *ngIf="uf.oogiri.errors.required">回答は必須です。</div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">コメント</label>
            <textarea formControlName="description"
                      class="form-control"
                      placeholder="記入してください..."
                      id="exampleFormControlTextarea1"
                      rows='4'
                      type="text"
            >
            </textarea>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="submit">投稿する</button>
          </div>

				</form>
			</div>
  </div>
</div>
