
<div class="wrapper">
  <div class="page-header section">
    <div class="content-center">
        <div class="container">
          <h1 class="display-2">大喜利グランプリ</h1>
          <!-- <h1 class="top-page-title">大喜利グランプリ</h1> -->
          <h2 class="presentation-subtitle text-center">好きな猫を投稿したりして癒されましょう。</h2>
          <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/home" class='button-set'>
              <button type="button" class="btn btn-secondary btn-lg">Get Start</button>
            </a>
          </div>
        </div>
    </div>

  </div>
  <div class="main">

    <div class="section section-dark section-nucleo-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h2 class="title">Nucleo Icons</h2><br/>

                </div>

            </div>
        </div>
    </div>

    <div class="section">
      <h2 class="title">Nucleo Icons</h2><br/>
    </div>
  </div>
</div>
