
<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex  p-3 mx-auto flex-column">
    <header>
      <div>
        <h1 class="float-md-start mb-0">Cover</h1>
      </div>
    </header>

    <main class="px-3">
      <h1>Sample Sample Sample System</h1>
      <p class="lead text-muted">Cover is a one-page template for building simple and beautiful home pages.
        Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
      <p >
        <button type="button" routerLink="/home" class="btn btn-primary btn-lg">Get Start</button>
      </p>
    </main>

  </div>
</body>

