<div class="container">
  <div class="title">商品編集</div>
    <form class="edit-form" (ngSubmit)="saveProduct()" [formGroup]="productForm">
      <div class="edit-line">
        <label>ID</label>
        <span>{{ productForm.controls.id.value }}</span>
      </div>
      <div class="edit-line">
        <label>名前</label>
          <input type="text" formControlName="name" required maxlength="20">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert"></div>
            <div *ngIf="name.errors.required">入力してください</div>
            <div *ngIf="name.errors.maxlength">20文字以内で入力してください</div>
      </div>
      <div class="edit-line">
        <label>説明</label>
        <input type="text" formControlName="description" required>
      </div>
    </form>
  <div class="footer">
    <a class="button black" [routerLink]="['/home', productForm.controls.id.value]">キャンセル</a>
    <button class="btn-primary" [class.disabled]="productForm.invalid">保存</button>
  </div>
</div>
