<header>
  <style>
    #intro {
      background-image: url(../../../assets/img/backgrand.jpg);
      height: 100vh;
    }

    @media (min-width: 992px) {
      #intro {
        margin-top: -58.59px;
      }
    }

    .navbar .nav-link {
      color: #fff !important;
    }
  </style>

  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(252, 247, 247, 0.8);">
      <div class="container">
        <div class="row justify-content-center">

          <div class="col-xl-5 col-md-8" *ngIf="!successfullySignup">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup(signupForm.value)" class="bg-white
            rounded-5 shadow-5-strong p-5">
              <h3 class='text-center'>新規登録</h3>

              <div class="form-outline mb-4">
                <input formControlName="username" type="text" id="form1Example1"
                class="form-control" placeholder="User Name" required/>
                <label class="form-label" for="form1Example1">User Name</label>
              </div>

              <div class="form-outline mb-4">
                <input formControlName="email" type="email" id="form1Example2"
                class="form-control" placeholder="Enter email" required/>
                <label class="form-label" for="form1Example2">Email address</label>
              </div>

              <div class="form-outline mb-4">
                <input formControlName="password" type="password" id="form1Example3"
                class="form-control" placeholder="Password" required/>
                <label class="form-label" for="form1Example3">Password</label>
              </div>

              <div class="row mb-4">
                <button type="submit" class="btn btn-primary btn-block"
                [disabled]="!signupForm.valid">新規登録</button>
                <p>
                  Form Status: {{ signupForm.status }}
                </p>
              </div>

              <p class="mt-5 mb-3 text-muted">© 2021</p>
            </form>
          </div>

          <p class="mt-5" *ngIf="!successfullySignup">検証コードを入力する場合はこちら</p>
          <button (click)="successfullySignup = true" *ngIf="!successfullySignup" class="btn btn-secondary">検証コードで認証</button>

          <div class="col-xl-5 col-md-8" *ngIf="successfullySignup">

            <form [formGroup]="confirmationForm" (ngSubmit)="onSubmitConfirmation(confirmationForm.value)"
              class = "bg-white rounded-5 shadow-5-strong p-5">
              <h3 class="text-center">検証する</h3>

              <!-- <div class="form-group text-left">
                <label>User Name</label>
                <input type="text"
                class="form-control" placeholder="User Name" formControlName="username">
              </div>

              <div class="form-group text-left">
                <label>メールアドレス</label>
                <input type="email"
                class="form-control" placeholder="Enter email" formControlName="email">
              </div> -->

              <div class="form-group text-left">
                <label>検証コード</label>
                <input type="text" class="form-control"
                placeholder="Enter confirmationCode" formControlName="confirmationCode">
              </div>
              <button type="submit" class="my-3 center btn btn-primary">認証</button>
              <button (click)="moveConfimation()" class="btn center btn-secondary">もどる</button>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>
</header>
