<div class="container">
  <a routerLink='/oogiri' >OOGIRI</a>
  <a routerLink="/proposal">proposal</a>
  <a routerLink="/proposal/new">proposal new</a>
  <a routerLink="/user">go usre page</a>
  <a routerLink="/oogiri/new">go uplode</a>
  <p>早速投稿してみよう</p>
</div>


<div class="container">
  <div class="row">
    <div *ngFor="let oogiri of oogiries; let oogiriId = index" class="col-sm" >
      <div class="card">
        <h3 class="card-title">{{ oogiri.title }}</h3>

          <img src="{{ oogiri.image_url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>{{ oogiri.oogiri }}</h3>
            <p class="card-text">{{ oogiri.description }}</p>
            <a  href="{{ oogiri.file_url }}">Download File</a>
            <p class="card-text"><small class="text-muted">{{ oogiri.updated_at | date }}</small></p>
            <p>{{ oogiri.image_url }}</p>
            <a routerLink="/oogiri/{{oogiriId}}" class='product-list-a'>詳細</a>
          </div>
      </div>
    </div>
  </div>
</div>


