<div class="container">
  <h2>投稿一覧</h2>
  <a routerLink='/post-cat' >投稿する。</a>
  <a routerLink='/post' >POST</a>
  <p>早速投稿してみよう</p>
</div>

<div class="container">
  <div class="row">
    <div *ngFor="let list of sublists; let id = index" class="col-sm">
      <div class="card" style="width: 21rem;">
        <a routerLink="detail/{{id}}" class='product-list-a'>
          <img src="../../../assets/img/cat1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ title }}</h5>
            <p class="card-text">{{ description }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>




